
.label-choice {
  position: relative;
  font-size: 10px;
  min-height: 40px;
  @include j-cf();
  input {
    &:not(:checked) {
      display: none;
      & + label {
        &:before {
          content: '';
          display: block;
          position: absolute;
        }
      }
    }
    &:checked {
      display: none;
      & + label {
        &:before {
          content: '';
          display: block;
          position: absolute;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
        }
      }
    }
    &[type="checkbox"] {
      &:not(:checked) {
        display: none;
        + label {
          &:before {
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            background: $white;
            border: 1px solid $chewyGreyBdr;
            border-radius: 3px;
          }
        }
      }
      &:checked {
        display: none;
        + label {
          &:before {
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            background: $white;
            border: 1px solid $chewyGreyBdr;
            border-radius: 3px;
          }
          &:after {
            left: 7px;
            top: 7px;
            width: 19px;
            height: 19px;
            background-repeat: no-repeat;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAdtJREFUeNrEl8srRFEcx800ZmyQksRKpJQiWfgD7OyEWFDej+QRsbKyomgiyZAFZTyysRLxF3jEErGhbJRX3ozvT+fquu7vnDvmXvOrz9w793vOfJvzO79zznWFQqGYaISHPh6CWU56uMAAaAaxYAH0ef7hz42CLt33TuBzO2xaajDVosZJ4wwwy2hup4y9YBkkMvqcU8YjoJDRzkC/E8ZloJ3RXkAFuLbbOBPMSPResPOVZBtNfYq8roLx79llc70WMNopqP8xrW0ypby1Mdqz0G9kxmkgPUxTWm+nJXoP2P1VyOKaDDbBBTgX96kW87oCEhidtAnTFURc/aBY95zut0GKwpj65TPaCWjgOmrGJSZaDtgSo2EWlaBFkddblfEVo+eKYU8yPM8GAclIdIN92VBpxsOSNjSUG7r6jBP1Gs+0XwKTqsmhGQdEHXJB6+66MBsDeUy7Y9Bo+QSim/ZeyTpbBPZE+ZjFEygHd1aMjXXcAaYUNcsFnSwOrBa/0ZhOfq2SDZyLoGKyKY01c8rTvMXfOAJN4a6x3Fr9AWrBoqL/o8jrvV3GFO+gWmxnXNCcOPzLrqLand5AFVgzOzcpNv2IjClexXFmUGwgl2AI1EV0yo/WK8ynAAMAjHRUyUDftMUAAAAASUVORK5CYII=);
            background-size: 19px;
            border-radius: 2px;
          }
        }
      }
      + label {
        font-size: 1.4em;
        line-height: 1.8em;
        font-weight: 400;
        user-select: none;
        text-transform: none;
        min-height: 30px;
        height: auto;
        padding: 4px 0 4px 40px;
        position: relative;
        cursor: pointer;
        color: $chewyText;
      }
      &.field__input--error {
        &:not(:checked) {
          & + label {
            &:before {
              border: 1px solid $chewyRedTxt;
              box-shadow: 0 0 0 1px $chewyRedTxt;
            }
          }
        }
      }
    }
    &[type="radio"] {
      position: absolute;
      top: 15px;
      left: 25px;
      min-height: 30px;
      &:not(:checked) {
        display: none;
        & + label {
          &:before {
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid $chewyBtn;
            background: $white;
            transition: .12s border ease-out;
          }
          &:hover {
            &:before {
              border-color: darken($chewyBtn, 20%);
            }
          }
        }
      }
      &:checked {
        display: none;
        & + label {
          &:before {
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid $chewyBtn;
            background: $white;
          }
          &:after {
            top: 10px;
            left: 10px;
            width: 14px;
            height: 14px;
            background: $chewySoftOrange;
            border-radius: 50%;
          }
        }
      }
      + label {
        font-size: 1.4em;
        line-height: 1em;
        font-weight: 400;
        user-select: none;
        text-transform: none;
        min-height: 40px;
        padding: 10px 0 4px 40px;
        cursor: pointer;
        color: $chewyText;
      }
    }
  }
}
