/*
   @name: Messages
   @description: Display messages and error tips
   @version: 1.0
   @created: Nov, 2016
   @by: ElationBase
   @dependency SCSS: _variables.scss

   * HTML Structure  *
    <div class="eb-messages eb-messages--error">
      <h5><span></span>Whoops! Please fix the following errors:</h5>
      <ul>
        <li>“Blue Buffalo Wilderness Chicken Recipe grain free dry food” is no longer available and has been removed from your cart.</li>
      </ul>
    </div>

    * OPTIONS *
    Default: grey (no modifier necessary)
    Info: Green  - Modifier: eb-messages--info
    Error: Red  - Modifier: eb-messages--error

*/

.eb-messages {
  font-size: 10px;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid $ebOutlineGrey;
  border-radius: 3px;
  h5 {
    font-weight: 600;
    text-transform: none;
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.6em;
    span {
      display: inline-block;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      margin-right: 5px;
      background-color: $ebOutlineGrey;
      display: inline-block;
      position: relative;
      vertical-align: -6px;
      &:after, &:before {
        content: '';
        width: 3px;
        border-radius: 3px;
        background-color: $white;
        position: absolute;
        z-index: 2;
        left: 10px;
      }
      &:before {
        height: 9px;
        top: 4px;
      }
      &:after {
        height: 3px;
        top: 15px;
      }
    }
  }
  &--info {
    border-color: $ebGreen;
    h5 {
      color: $ebGreen;
      span {
        background-color: $ebGreen;
      }
    }
  }
  &--error {
    border-color: $priceRed;
    h5 {
      color: $priceRed;
      span {
        background-color: $priceRed;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    font-weight: 400;
    font-size: 1.5em;
    list-style-type: none;
    color: $ebText;
    padding-bottom: 5px;
    &:last-child {
        padding-bottom: 0;
    }
  }
  @include media('>=ipad') {
    h5, li {
        font-size: 1.6em;
    }
  }
  @include media('<ipad') {
    h5, li {
        font-size: 1.5em;
    }
  }
}
