////////////
// UI KIT //
////////////

$white: #ffffff;
$black: #000000;

$ebText : #333333;   //primary text color
$ebTextSec: #555555; //secondary text color
$ebTextLt: #999999;  //light text color

$ebBlue: #128ced;
$ebDkBlue: #163977;
$ebOrange: #ef6C00;
$ebSoftOrange: #f5a623;
$ebHighlightOrange: #fbf3e6;
$ebYellow: #f8d71c;
$ebYellowBg: #ffec00;
$ebRed: #b32605;
$ebGreen: #4caf50;

// Background
$ebBgGrey: #f5f5f5;
$ebBgLtGrey: #f9f9f9;
$ebBgPage: #fcfcfc;
