////////////
// UI KIT //
////////////

$white: #ffffff;
$black: #000000;

$chewyText : #333333;   //primary text color
$chewyTextSec: #555555; //secondary text color
$chewyTextLt: #999999;  //light text color

$chewyBlue: #128ced;
$chewyDkBlue: #163977;
$chewyOrange: #ef6C00;
$chewySoftOrange: #f5a623;
$chewyHighlightOrange: #fbf3e6;
$chewyYellow: #f8d71c;
$chewyYellowBg: #ffec00;
$chewyRed: #b32605;

$chewyGreen: #4caf50;

// Background
$chewyBgGrey: #f5f5f5;
$chewyBgLtGrey: #f9f9f9;
$chewyBgPage: #fcfcfc;

// Buttons
$chewyBtn : #dddddd;
$chewyBtnDisabled : #f2f2f2;

$chewyOutlineGrey : #9b9b9b;
$chewyLabelGrey: $chewyOutlineGrey;

// Orange gradient
$chewyOrangeStart : #ed9232;
$chewyOrangeEnd : $chewyOrange;
$chewyOrangeEndNew : #d76101;

// Blue gradient
$chewyBlueStart : #57a7f5;
$chewyBlueEnd : $chewyBlue;

// Desktop Red
$chewyRedTxt: #d0021b;

///////////////////////
// TO REASSIGN BLOCK //
///////////////////////

$wtgrey: $chewyBgGrey;
$chewyGreyWt: $chewyBgLtGrey;

$chewyTxtGrey: $chewyText;
$bftxtgrey: $chewyText;

$chewyGrey: $chewyTextSec;

$pggrey: $chewyOutlineGrey;
$chewyMidGrey: $chewyOutlineGrey;
$chewyBtnBdrGrey: $chewyOutlineGrey;


//////////
// Site //
//////////

$priceRed: $chewyRedTxt;

// Main Navigation
$lgNav: 45px;
$smNav: 35px;

////////////
// LEGACY //
////////////

$cyan: #019cfd;
$dkblue: #014ea4;
$ltblue: #edf8fa;

$txtgrey: #444444;

$ltgrey: #666666;
$bdrgrey: #dadada;

$chewyDkBdrGrey: #4a4a4a;

$chewyGreyBdr: #cccccc;
$chewyLtGreyBdr: #dddddd;
$chewyBtnGrey: #eeeeee;

$chewyGreyGradient: #e8e8e8;
$chewyGreyReviewBdr: #dfdfdf;
$chewyLtOrange: #f08d3b;

// Mobile : About Us
// move to CMS

$abtltblue: #f2fbfe;
$abtdkblue: #014ea4;

$abtbdrgrey: #c6cbcc;
$abttxtgrey: $chewyDkBdrGrey;

$abtorange: #f57200;
$abtbdrorange: #e56700;

///////////////////
// MEDIA QUERIES //
///////////////////

$phone-width: 320px;
$tablet-min-width: 750px;
$ipad-width: 768px;
$ipad-lg-width: 1024px;
$desktop-width: 970px;
$desktop-lg-width: 1250px;
$desktop-xl-width: 1400px;
$ie-desktop-width: $desktop-width - 40;

//include-media variables
$breakpoints: (
		'phone': $phone-width,
		'tabletmin' : $tablet-min-width,
		'ipad': $ipad-width,
		'ipadlg': $ipad-lg-width,
		'desktop': $desktop-width,
		'desktoplg': $desktop-lg-width,
		'desktopxl': $desktop-xl-width
);
