/*
@name: cwDropdown
@description: Converts an Unorderlist ( UL > LI ) to a select box
@version: 1.0.0
@created: April 2017
@by: Chewy Dev Team

* HTML Structure  *
// Trigger open modal
<div class="cw-dropdown js-drop">
<div class="cw-dropdown__trigger js-drop-trigger">
<span class="js-selection-value">Grey</span>
</div>
<ul class="cw-dropdown__menu  js-drop-menu">
<li>Brunswick Green</li>
<li>Charcoal</li>
<li>Grey</li>
<li>Nutmeg</li>
</ul>
</div>
*/

@import "variables";

$heightTrigger : 56px;
$heightMenu : 250px;

$heightTrigger : 56px;
$heightMenu : 250px;

.cw-dropdown {
  position: relative;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 10px;
  user-select: none;
  font-weight: 400;
  &__trigger {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: $chewyBtnGrey;
    background: linear-gradient(to bottom, $chewyBgLtGrey, $chewyBtnGrey);
    border: 1px solid darken($white, 20%);
    border-radius: 4px;
    box-shadow: 0 1px 0 0 darken($white, 20%);
    padding: 11px 25px 11px 12px;
    height: $heightTrigger;
    &:hover, &:focus, .cw-dropdown--active & {
      background: $white;
      box-shadow: 0 1px 0 0 $chewyLtOrange;
      border-color: $chewyLtOrange;
    }
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background: url('//www.chewy.com/assets/img/icons/icon-select-arrows.svg') no-repeat center transparent;
      background-size: 12px;
    }
  }
  .attribute-selection {
    &__name {
      display: block;
      color: #999;
      font-size: 1.4em;
      line-height: 1;
      margin-bottom: 2px;
    }
    &__value {
      display: block;
      color: #333;
      font-size: 1.6em;
      line-height: 1;
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    max-height: $heightMenu;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    float: left;
    list-style: none;
    text-align: left;
    background-color: $white;
    border: 1px solid darken($white, 20%);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    .cw-dropdown--active & {
      display: block;
    }
    li {
      position: relative;
      background-color: $white;
      border-bottom: 1px solid darken($white, 10%);
      border-right: 1px solid darken($white, 10%);
      padding: 15px 10px 15px 45px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      span {
        font-size: 1.6em;
      }
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: darken($white, 6%);
        &:before {
          border-color: $chewyLtOrange;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background: #fff;
        border: 1px solid $chewyGreyBdr;
        border-radius: 50%;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 18px;
        margin-top: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      &.selected {
        &:after {
          background-color: $chewyLtOrange;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 14px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      box-shadow: inset 0 0 0 4px $white;
      background: darken($white, 10%);
    }
  }
}
