/*
 @name: cwTabs
 @description: Page tabs content
 @version: 1.0.1
 @created: Aug. 2016
 @by: Chewy Dev Team

 * HTML Structure  *
 <section class="cw-tabs">
     <nav class="cw-tabs__head">
         <ul>
             <li><a href="#{{YOUR-TARGET-1}}" data-tab-target="{{YOUR-TARGET-1}}">{{TAB-NAME-1}}</a></li>
             <li><a href="#{{YOUR-TARGET-2}}" data-tab-target="{{YOUR-TARGET-2}}">{{TAB-NAME-2}}</a></li>
         </ul>
     </nav>
     <div class="cw-tabs__body">
         <article id="{{YOUR-TARGET-1}}" data-tab-content="{{YOUR-TARGET-1}}">
            <h2>{{TAB-NAME-1}}</h2>
            <p>{{TAB-CONTENT-1}}</p>
         </article>
         <article id="{{YOUR-TARGET-2}}" data-tab-content="{{YOUR-TARGET-2}}">
            <h2>{{TAB-NAME-2}}</h2>
            <p>{{TAB-CONTENT-2}}</p>
         </article>
     </div>
 </section>


 * OPTIONS * add class to .cw-tab *
 Size        //      Default: medium     //      Options: .cw-tab--sm
*/

.cw-tabs {
  margin: 40px 0;
  font-size: 10px;
  &__head {
    background-color: $chewyBgLtGrey;
    border-bottom: 1px solid $chewyBtn;
    ul {
        @include j-cf();
    }
    li {
      position: relative;
      float: left;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      &:hover {
        background-color: $white;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        left: -1px;
        height: 3px;
        background-color: $chewyBgLtGrey;
        transition: all 0.3s ease-out;
      }
      &.cw-tab--visible {
        background-color: $white;
        border-right-color: $chewyBtn;
        border-left-color: $chewyBtn;
        &:before {
          background-color: $chewySoftOrange;
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: -1px;
          left: 0;
          height: 1px;
          background-color: $white;
        }
      }
    }
    a {
      display: block;
      padding: 0 50px;
      line-height: 60px;
      @include media('<desktop') {
        padding: 0 30px;
        line-height: 50px;
      }
      font-size: 1.6em;
      font-weight: 600;
      color: $chewyText;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__body {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    .cw-tab--hidden {
      display: none;
    }
    .cw-tab--visible {
      display: block;
    }
    h2 {
        color: $chewyText;
    }
  }

  &--sm  {
    li a {
      padding: 0 25px;
      line-height: 30px;
    }
  }
}
