// _progress.scss
// ==============
@import "../include-media/include-media";

.progress {
    &-line {
		@include j-cf();
		font-family:"Roboto", sans-serif;
		font-size: 10px;
		-webkit-font-smoothing: antialiased;
        li {
            position: relative;
            margin-bottom: 10px;
            height: 20px;
            line-height: 20px;
            display: block;
            > span {
                position: absolute;
                top: 0;
                font-size: 1.4em;
                &:first-child {
                    z-index: 2;
                    left: 0;
                }
                &:last-child {
                    z-index: 3;
                    right: 0;
                }
            }
        }
        &__bg {
            position: relative;
            background-color: $chewyBgGrey;
            display: block;
            height: 20px;
            border-radius: 3px;
            overflow: hidden;
        }
        &__fill {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: $chewySoftOrange;
            border-radius: 3px;
        }
        &--info {
            .progress-line__bg {
                margin: 0 40px 0 60px;
            }
        }
    }
    &-radial {
        // Variables
		$circle-size: 86px;
		$circle-size-desktop: 124px;
        $circle-background: $chewyBtnGrey;
        $circle-color: $chewySoftOrange;
        $inset-size: 74px;
		$inset-size-desktop: 105px;
        $inset-color: $chewyBgLtGrey;
		$inset-color-desktop: $white;
        $transition-length: 1s;

    	font-family:"Roboto", sans-serif;
    	font-size: 10px;
    	-webkit-font-smoothing: antialiased;
    	margin: 50px;
    	width: $circle-size;
    	height: $circle-size;
    	background-color: $circle-background;
    	border-radius: 50%;
    	&__mask, &__fill {
    		width: $circle-size;
    		height: $circle-size;
    		position: absolute;
    		border-radius: 50%;
    		backface-visibility: hidden;
    		transition: transform $transition-length;
    		border-radius: 50%;
    	}
    	&__mask {
    		clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
    	}
    	&__fill {
    		clip: rect(0px, $circle-size/2, $circle-size, 0px);
    		background-color: $circle-color;
    	}
    	&__inset {
    		width: $inset-size;
    		height: $inset-size;
    		position: absolute;
    		margin-left: ($circle-size - $inset-size)/2;
    		margin-top: ($circle-size - $inset-size)/2;

    		background-color: $inset-color;
    		border-radius: 50%;
    	}
    	&__text {
    		text-align: center;
    		line-height: 0;
			margin: 0;
			position: relative;
			&--percent {
				position: absolute;
				width: 100%;
				top: 33px;
				left: -3px;
				font-size: 3.5em;
				font-weight: 300;
				letter-spacing: -2px;
				sub {
					font-size: .4em;
					top: -7px;
					position: absolute;
				}
			}
			&--desc {
				position: absolute;
				top: 52px;
				left: 0;
				width: 100%;
				font-size: 0.9em;
				text-transform: uppercase;
			}
    	}
		@include media('>=tabletmin') {
			width: $circle-size-desktop;
			height: $circle-size-desktop;
			&__mask, &__fill {
				width: $circle-size-desktop;
				height: $circle-size-desktop;
			}
			&__mask {
				clip: rect(0px, $circle-size-desktop, $circle-size-desktop, $circle-size-desktop/2);
			}
			&__fill {
				clip: rect(0px, $circle-size-desktop/2, $circle-size-desktop, 0px);
				background-color: $circle-color;
			}
			&__inset {
				background-color: $inset-color-desktop;
				width: $inset-size-desktop;
				height: $inset-size-desktop;
				margin-left: ($circle-size-desktop - $inset-size-desktop)/2;
				margin-top: ($circle-size-desktop - $inset-size-desktop)/2;
			}
			&__text {
				&--percent {
					top: 45px;
					font-size: 4.5em;
					sub {
						font-size: .4em;
						top: -7px;
						position: absolute;
					}
				}
				&--desc {
					top: 70px;
					font-size: 1.0em;
				}
			}
		}

    	$i: 0;
    	$increment: 180deg / 100;

    	@for $i from $i through 100 {
    		&[data-progress="#{$i}"] {
    			.progress-radial__mask--full, .progress-radial__fill {
    				transform: rotate($increment *$i);
    			}
    			.progress-radial__fill--fix {
    				transform: rotate($increment * $i * 2);
    			}
    		}
    	}

    }

}
