
.cw-table, .cw-tabs table {
  thead, tbody {
    font-size: 10px;
  }

  tr {
    border-bottom: 1px solid $chewyBtnGrey;
    transition: background-color 0.4s ease-out;
    font-weight: 400;
  }
  th {
    background-color: darken($white, 6%);
    font-weight: 600;
  }
  th, td {
    padding: 8px 12px;
    font-size: 1.4em;
    line-height: 1.1em;
  }
  &--lg {
    th, td {
      padding: 15px 30px;
    }
  }
  &--striped {
    th {
      background-color: darken($white, 10%);
    }
    tr {
      border-bottom: 1px solid darken($white, 15%);
    }
    tr:nth-of-type(even) {
      background-color: darken($white, 3%);
    }
  }
  &--bordered {
    th, td {
      border: 1px solid darken($white, 15%);
    }
  }
  &--hovered {
    tr {
      transition: background-color 0.4s ease-out;
      &:hover {
        background-color: darken($white, 6%);
      }
    }
  }
  &--full {
    width: 100%;
  }
}
