/*
   @name: Badge
   @description: Display product badges
   @version: 1.0.1
   @created: Jun, 2017
   @by: Chewy Dev Team

   * HTML Structure  *
    <span class="cw-badge cw-badge--frozen">Frozen Product Description</span>

    * OPTIONS *
    Frozen Product  - Modifier: .cw-badge--frozen
    Special Product  - Modifier: .cw-badge--special
    RX Product  - Modifier: .cw-badge--rx
    Text Special Product  - Modifier: .cw-badge--simple > .cw-badge__text

*/

$sizeSmall : 15px;
$sizeLarge : 25px;
$rxColor : #41C0B4;

.cw-badge {
  display: block;
  position: relative;
  @include fonts(12px, 400, left, 1.2em);
  min-height: $sizeSmall;
  padding-left: $sizeSmall + 5px;
  a {
    color: $chewyBlue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 5px;
    background-size: $sizeSmall;
    width: $sizeSmall;
    height: $sizeSmall;
  }
  &--frozen {
    &:before {
      content: '';
      background: url('/_assets/images/chewy/icon-badge-frozen.svg') no-repeat center $chewyBlue;
      border-radius: 50%;
    }
  }
  &--special {
    &:before {
      content: '';
      background: url('/_assets/images/chewy/icon-badge-special.svg') no-repeat center $chewyGreen;
      border-radius: 3px;
    }
  }
  &--rx {
    &:before {
      content: '';
      background: url('/_assets/images/chewy/icon-badge-rx.svg') no-repeat center $rxColor;
      border-radius: 3px;
    }
  }
  &--simple {
    padding-left: 0;
    .cw-badge__text {
      @include fonts(16px, 600, left, 1.2em);
      display: inline-block;
      padding: 1px 5px 2px 5px;
      border-radius: 3px;
      vertical-align: middle;
      color: $white;
      background-color: $chewyGreen;
    }
  }

  &--large {
    font-size: 14px;
    min-height: $sizeLarge;
    padding-top: 4px;
    padding-left: $sizeLarge + 5px;
    &:before {
      background-size: $sizeLarge;
      width: $sizeLarge;
      height: $sizeLarge;
    }

    &.cw-badge--frozen {
      &:before {
        padding-bottom: 1px;
      }
    }
    &.cw-badge--simple {
      padding-left: 0;
      .cw-badge__text {
        font-size: 18px;
      }
    }
  }
}
